/* General body and layout */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

header nav ul li a:hover {
  background-color: #575757;
}

/* Page content */
main {
  padding: 2rem;
}

h1, h2, h3 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

/* Custom style for Stripe buttons */
.stripe-checkout-button {
  display: inline-block;
  background-color: #007bff; /* Change to your preferred color */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.stripe-checkout-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.stripe-checkout-button:focus {
  outline: none;
}
